.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f6f2;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.container:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.title {
  text-align: center;
  font-size: 2rem;
  color: #543729;
  margin-bottom: 20px;
}

.questionList {
  list-style-type: none;
  padding: 0;
}
